<!DOCTYPE html>
<html>
<link rel="stylesheet" href="./css/index.css">
<head>
    <title>TourIndia</title>
</head>

<body >

    <h1 style="text-align:center;
    font-size: 5rem;
    color: #47a52a;">Welcome</h1>
    <p style="text-align:center;
    font-size: 2rem;
    color: #47a52a;">Please visit the <a href="https://tourindia-tan.web.app/" > main </a> website.</p>

</body>


</html>
